soap-consumer-service/src/main/resources/wsdl/accountDetails.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soni.com/ws/api/account" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.soni.com/ws/api/account" targetNamespace="http://www.soni.com/ws/api/account">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.soni.com/ws/api/account">
    <xsd:element name="AccountRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="accountNumber" type="xsd:int"/>
                <xsd:element name="mobileNumber" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AccountDetailsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AccountDetails" type="tns:AccountDetails"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="AccountDetails">
        <xsd:sequence>
            <xsd:element name="accountNumber" type="xsd:int"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="balance" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AccountRequest">
    <wsdl:part element="tns:AccountRequest" name="AccountRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountDetailsResponse">
    <wsdl:part element="tns:AccountDetailsResponse" name="AccountDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountDetailsPort">
    <wsdl:operation name="Account">
      <wsdl:input message="tns:AccountRequest" name="AccountRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AccountDetails">
      <wsdl:output message="tns:AccountDetailsResponse" name="AccountDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountDetailsPortSoap11" type="tns:AccountDetailsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Account">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AccountDetails">
      <soap:operation soapAction=""/>
      <wsdl:output name="AccountDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountDetailsPortService">
    <wsdl:port binding="tns:AccountDetailsPortSoap11" name="AccountDetailsPortSoap11">
      <soap:address location="http://localhost:9000/service/account-details"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>